.bg-container {
    min-height: 100vh;
    background-image: url('./components/images/bg-image.png');
}

.calendar-container {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.calendar-width {
    width: 90%;

}

.single-day-event-dot {
    border-color: #000;
    border-width: 20px;
}

.login-container {
    display: block;
    width: 550px;
    min-height: 520px;
    background-color: #fff;
    box-shadow: 0px 2px 30px #ccc6;
    margin: auto;
    position: relative;
    z-index: 1;
    margin-top: 3%;
    overflow: hidden;
}

.login-box {
    width: 100%;
    min-height: 520px;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 50px 50px;
    border-radius: 2px;
    transition: all .1s ease-in-out;
    float: left;
    overflow-y: auto;
    display: table-cell;

}

.nav-img {
    background-image: url('./components/images/timetable-icon.png');
    width: "30";
    height: "30";
}